@model ModernHome.Models.Ocjena

@{
    ViewData["Title"] = "Edit";
    var filmid = Model.Idartikal;
    var korisnik = Model.Idkorisnik;

}

<h1>Edit</h1>

<h4>Ocjena</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ocjena" class="control-label"></label>
                <input asp-for="ocjena" class="form-control" />
                <span asp-validation-for="ocjena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="komentar" class="control-label"></label>
                <input asp-for="komentar" class="form-control" />
                <span asp-validation-for="komentar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="datum" class="control-label"></label>
                <input asp-for="datum" class="form-control" readonly />
                <span asp-validation-for="datum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idkorisnik" class="control-label"></label>
                <input asp-for="Idkorisnik" value="@korisnik" class=" form-control" readonly />
                <span asp-validation-for="Idkorisnik" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Idartikal" class="control-label"></label>
                <input asp-for="Idartikal" value="@ViewBag.UserFilm" class=" form-control" readonly />
                <span asp-validation-for="Idartikal" class="text-danger"></span>

            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Ocjena" asp-action="OcjeneArtikal" asp-route-id="@ViewBag.UserArtikal">Back to List</a>
</div>