@model ModernHome.Models.Narudzba

@{
    ViewData["Title"] = "Edit";
}


<div>
    <a asp-action="Index"><button style="margin-bottom:2vh; border:none;">← Nazad</button></a>

</div>


<h1>Izmijeni narudžbu</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Idkorisnik" class="control-label">ID korisnika</label>
                <input asp-for="Idkorisnik" class="form-control" readonly />
                <span asp-validation-for="Idkorisnik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vrijemeNarudzbe" class="control-label">Vrijeme narudžbe</label>
                <input asp-for="vrijemeNarudzbe" class="form-control" readonly/>
                <span asp-validation-for="vrijemeNarudzbe" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="stanjeIsporuke" /> Stanje isporuke
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Idkorpa" class="control-label">ID korpe</label>
                <input asp-for="Idkorpa" class="form-control" readonly/>
                <span asp-validation-for="Idkorpa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cijena" class="control-label">Cijena</label>
                <input asp-for="cijena" class="form-control" />
                <span asp-validation-for="cijena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sačuvaj" class="btn btn-primary" style="background-color:#222222; color: #fff; border:none; font-size:3vh; margin-top:2vh; border-radius: 3px;" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
