<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ModernHome</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ModernHome.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <!--  <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ModernHome</a>-->
                <a class="navbar-brand d-flex align-items-center" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/logo.png" alt="Logo" class="logo-img" style="height: 4em; width: auto;" />
                    <span class="ms-2">ModernHome</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 ms-5">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (!User.Identity.IsAuthenticated || (!User.IsInRole("Administrator") && !User.IsInRole("Zaposlenik")))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/#aboutus">O nama</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/#contact">Kontakt</a>
                            </li>
                        }
                        <li class="dropdown">
                            <a class="nav-link text-dark" style="color: black; text-decoration:none;  position: relative; display: inline-block;">Kategorije</a>
                            <div class="dropdown-content">
                                <a asp-area="" asp-controller="Artikal" asp-action="Index">Svi proizvodi</a>
                                <a href="#service2">Dnevna soba</a>
                                <a href="#service3">Kuhinja</a>
                                <a href="#service1">Spavaća soba</a>
                                <a href="#service1">Ured</a>
                                <a href="#service1">Dekoracije</a>
                                <a href="#service1">Razno</a>
                            </div>
                        </li>
                        <form class="form-inline my-2 my-lg-0" method="get" action="/Artikal">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query" style="width: 20vw;">
                        </form>
                        @if (User.Identity.IsAuthenticated && (!User.IsInRole("Administrator") && !User.IsInRole("Zaposlenik")))
                        {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="StavkaNarudzbe" asp-action="Index">Korpa</a>
                        </li>
                        }
                        @if (User.Identity.IsAuthenticated)
                         {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Narudzba" asp-action="Index">Narudžbe</a>
                        </li>
                         }
                        @if (User.IsInRole("Administrator"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SviKorisnici">Korisnici</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @if (!User.IsInRole("Administrator"))
    {
        <footer class="border-top footer text-muted" style="background-color:#ffffff; position:relative; bottom:0px; height:35vh">
            <div class="container" style="height: 12.5vw; display: flex; justify-content: space-between; align-items: flex-start;">
            <div id="thanks" style="width: 20vw; height:12vw; display: inline-block;margin-right:20vw;">
                <img src="~/images/logo.png" alt="Logo" class="logo-img" style="height: 8vw; width: auto; " />
                <p style="color:#785A47; font-size:1vw; line-height: 1.2;">Hvala Vam na posjeti naše stranice.</p>
                <p style="color:#785A47; font-size: 0.7vw;line-height: 1.2;">
                        &copy; 2024 - ModernHome - <a class="privacy-link" asp-area="" asp-controller="Home" asp-action="Privacy">Politika privatnosti</a>
                    </p>
                </div><div id="contact" class="contact" style="margin-right: 20px;">
                <h2 style="color:#ffffff; font-family: 'Inter'; font-size: 2.2vw; font-weight: bold;">
                    Kontakt
                </h2>
                <p style="color:#ffffff; font-family: 'Inter'; font-size: 1vw; line-height: 1.5;">
                    Telefon: +(387)33 942 528
                    <br>Email: info@modernhome.ba
                    <br>Adresa: Aleja poštenih 32, Sarajevo
                </p>
            </div>
            <div id="socials" class="socials" style="margin-right: 20px;">
                <h2 style="color:#ffffff; font-family: 'Inter'; font-size: 2.2vw; font-weight: bold;">
                    Društvene mreže
                </h2>
                <p style="color:#ffffff; font-family: 'Inter'; font-size: 1vw; line-height: 1.2; word-wrap: break-word; text-align:justify">
                    Ostanite u koraku s najnovijim <br>obavijestima i prvi saznajte <br>o novim ponudama.
                </p>
                <div id="socialspng" style="display: flex; justify-content: flex-end; align-items: flex-start;">
                    <a href="https://www.instagram.com/modernhome.ba" target="_blank" style="margin-right:1vw;">
                        <img src="~/images/instagram.png" alt="Instagram" style="height:2vw;width:auto; margin-right:1vw;" />
                    </a>
                    <a href="https://www.facebook.com/people/Modern-Home/61560641797233/" target="_blank">
                        <img src="~/images/facebook.png" alt="Facebook" style="height:2vw;width:auto;" />
                    </a>
                </div>
            </div>
        </div>
    </footer>
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>

.privacy-link {
        color: #785A47;
        text-decoration: none; 
}

.privacy-link:hover {
        color: #785A47;
        font-weight:bold;

}

.contact{
        background-color: #C29C84;
        display: inline-block;
        border-radius:12px;
        height: 12vw;
        width:20vw;
        padding: 10px;

}

.socials{
        background-color: #785A47;
        display: inline-block;
        border-radius: 12px;
        height: 12vw;
        width:20vw;
        padding: 10px;

    }


    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 9999;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            font-size:2vh;
            display: block;
            text-align: left;
            z-index: 9999; 
        }

       .dropdown-content a:hover {
                background-color: #f1f1f1;
       }

        .dropdown:hover .dropdown-content {
        display: block;
        }

</style>