@model ModernHome.Models.Artikal

@{
    ViewData["Title"] = "Edit";
}


<body class="allcontentcreate">

    <div>
        <a asp-controller="Artikal" asp-action="Index" style="color:#fff; text-decoration:none; font-size: 3vh;">← Nazad na artikle</a>
    </div>
    <div class="row" style="background-color:#fff; border-radius:12px; padding:2vw; justify-content:space-between; align-items: flex-start;">
        <div class="col-md-6" style="display:flex; justify-content:flex-start;">
            <div style="flex:1; padding-right:6vw; width:100%;">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="naziv" class="control-label" style="font-weight:bold;">Naziv</label>
                        <input asp-for="naziv" class="form-control" style="font-size:3vh;" />
                        <span asp-validation-for="naziv" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="tip" class="control-label" style="font-weight:bold;">Kategorija</label>
                        <select asp-for="tip" class="form-control" style="font-size:3vh;"
                                asp-items="Html.GetEnumSelectList<TipNamjestaja>()">
                            <option value="">Izaberite kategoriju</option>
                        </select>
                        <span asp-validation-for="tip" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="boja" class="control-label" style="font-weight:bold;">Boja</label>
                        <select asp-for="boja" class="form-control" style="font-size:3vh;"
                                asp-items="Html.GetEnumSelectList<Boje>()">
                            <option value="">Izaberite boju</option>
                        </select>
                        <span asp-validation-for="boja" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="kolicina" class="control-label" style="font-weight:bold;">Količina na stanju</label>
                        <input asp-for="kolicina" class="form-control" style="font-size:3vh;" />
                        <span asp-validation-for="kolicina" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="cijena" class="control-label" style="font-weight:bold;">Cijena</label>
                        <input asp-for="cijena" class="form-control" style="font-size:3vh;" />
                        <span asp-validation-for="cijena" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Iddimenzije" class="control-label" style="font-weight:bold;">Dimenzije</label>
                        <input asp-for="Iddimenzije" class="form-control" style="font-size:3vh;" />
                        <span asp-validation-for="Iddimenzije" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="slika" class="control-label" style="font-weight:bold;">URL slike</label>
                        <input asp-for="slika" class="form-control" style="font-size:3vh;" />
                        <span asp-validation-for="slika" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Sačuvaj" class="btn btn-primary" style="background-color:#222222; color: #fff; border:none; font-size:3vh; margin-top:2vh;" />
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6" style="display:flex; justify-content:center; align-items:center;">
            <img src="@Url.Content(Model.slika)" alt="cover" style="width: 100%; height: auto; border-radius: 12px;" />
        </div>
    </div>

</div>

</body>

<style>
    .allcontentcreate {
        background-color: #C4A693;
    }

</style>
