@model ModernHome.Models.Kartica

@{
    ViewData["Title"] = "Create";
}

<h1 style="font-weight:bold;">Plaćanje</h1>


<body style="background-color:#C4A693">
    
    <a asp-controller="Artikal" asp-action="Index" style="color:#fff; text-decoration:none; font-size: 3vh;">← Nazad na artikle</a>
    <div class="row" style="background-color:#fff; border-radius:12px; padding:2vw;">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="brojKartice" class="control-label"></label>
                <input asp-for="brojKartice" class="form-control" />
                <span asp-validation-for="brojKartice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CVV" class="control-label"></label>
                <input asp-for="CVV" class="form-control" />
                <span asp-validation-for="CVV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="datumIsteka" class="control-label"></label>
                <input asp-for="datumIsteka" class="form-control" />
                <span asp-validation-for="datumIsteka" class="text-danger"></span>
            </div>
            <!--<div class="form-group">
                <label asp-for="Idkorisnik" class="control-label"></label>
                <input asp-for="Idkorisnik" class="form-control" />
                <span asp-validation-for="Idkorisnik" class="text-danger"></span>
            </div>-->
        </form>
    </div>
  
</body>

    <a asp-controller="Kartica" asp-action="UspjesnoPlacanje"><button type="submit" style="background-color:#222222; color: #fff; border:none; font-size:3vh; margin-top:2vh; border-radius: 3px;">Završi plaćanje</button></a>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
