@model ModernHome.Models.StavkaNarudzbe

@{
    ViewData["Title"] = "Edit";
    var artikal = ViewBag.Artikal as ModernHome.Models.Artikal;
}

<body style="background-color:#C4A693">
    <a asp-controller="Artikal" asp-action="Index" style="color:#fff; text-decoration:none; font-size: 3vh;">← Nazad na artikle</a>
    <div class="row" style="background-color:#fff; border-radius:12px; padding:2vw;">

    <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />

                <div class="form-group">
                    <input type="hidden" asp-for="Idartikal" class="form-control" readonly />
                    <span asp-validation-for="Idartikal" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="kolicina" class="control-label">Količina</label>
                    <input asp-for="kolicina" class="form-control" />
                    <span asp-validation-for="kolicina" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="cijena" class="control-label">Cijena</label>
                    <input asp-for="cijena" class="form-control" readonly />
                    <span asp-validation-for="cijena" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="hidden" asp-for="Idkorpa" class="form-control" readonly />
                    <span asp-validation-for="Idkorpa" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Sačuvaj" class="btn btn-primary" style="background-color:#222222; color: #fff; border:none; font-size:3vh; margin-top:2vh; border-radius: 3px;" />
                </div>
            </form>
        </div>

        <div class="col-md-6">
            <div style="display:flex; flex-direction: column; align-items: center;">
                <h4>@Html.DisplayFor(model => artikal.naziv)</h4>
                <img src="@artikal.slika" alt="slika" style="width: 100%; max-width: 300px; height: auto; border-radius: 12px; " />
            </div>
        </div>
    </div>
</body>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    document.getElementById("kolicina").addEventListener("input", function () {
        var kolicina = parseFloat(this.value);
        if (kolicina < 1) {
            this.value = 1;
            kolicina = 1;
        }
        var cijenaArtikla = parseFloat("@ViewBag.cijena".replace(",", "."));
        if (!isNaN(kolicina) && !isNaN(cijenaArtikla)) {
            document.getElementById("cijena").value = (kolicina * cijenaArtikla);
        } else {
            document.getElementById("cijena").value = "";
        }

    });
</script>
