@{
    ViewData["Title"] = "ModernHome";
}


<div class="container">

<head>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
</head>

    <section id="products" class="products-section text-left" style="background-color: #ffffff; border-radius: 15px; padding: 5vw; display: flex; align-items: flex-start;">
        <div class="content" style="flex: 1; width: 30vw">
            <h1 style="font-weight: bold; font-size: 2.5vw; font-family: 'Inter', sans-serif;">Stvaramo udobnost, oblikujemo stil</h1>
            <p style="font-size: 1.7vw; font-family: 'Inter', sans-serif;">Svi naši proizvodi izrađeni su od najkvalitetnijih materijala, pogodni za svaku namjenu</p>
            <a asp-area="" asp-controller="Artikal" asp-action="Index"><button style="padding: 0.5vw 2vw; font-size: 1vw; background-color: #222222; color: white; border: none; border-radius: 5px; cursor: pointer; font-family: 'Inter', sans-serif;">Svi proizvodi</button></a>
        </div>
        <img src="~/images/product.jpg" alt="Products" class="img-fluid rounded" style="width:auto; height: auto;">
    </section>

    <div id="aboutus" style="text-align: center; margin-top:5vw;">
        <h4 style="font-size:2.4vw; font-weight:bold; font-family: 'Inter'; color:#ffffff">Dobrodošli u ModernHome, gdje tradicija susreće savremeni dizajn.</h4>
    </div>

    <section id="aboutustext" class="about-us-section text-right" style="display: flex; align-items: flex-start;">
        <div class="content" style="width: 40vw; padding:2vw">

            <p style="font-family: 'Inter'; font-size: 1.1vw; font-style: italic; color:#ffffff">
                Sa više od 20 godina iskustva u industriji namještaja, ponosimo se dugogodišnjom tradicijom izrade visokokvalitetnih proizvoda. Naša posvećenost vrhunskom 
                majstorstvu i upotrebi najkvalitetnijih materijala omogućava nam da kreiramo komade nameštaja koji ne samo da zadovoljavaju, već i nadmašuju očekivanja naših kupaca.
            </p>
            <h4 style="font-family: 'Inter'; font-size: 3vw; font-weight: bold; color:#ffffff; text-align:center; margin-top:1vw; margin-bottom:1vw;"> Kvalitet prije svega</h4>
            <p style ="font-family: 'Inter'; font-size: 1.1vw; color:#ffffff">
                Vjerujemo da je kvalitet osnova svakog dobrog proizvoda. Naš tim stručnjaka pažljivo bira materijale i prati najnovije tehnologije i trendove u industriji, 
                kako bismo vam pružili namještaj koji je istovremeno moderan, funkcionalan i dugotrajan. Svaki komad namještaja koji napusti našu proizvodnju prolazi strogu 
                kontrolu kvaliteta, osiguravajući da svaki detalj bude besprijekorno izveden.
            </p>

        </div>
        <div style="width: 70vw; margin-right: 1.5vw">
            <img src="~/images/aboutus.jpeg" alt="About Us" class="img-fluid rounded" style="width:auto; height: auto;">
        </div>
    </section>

    <section id="contact" class="contact-section text-left" style="background-color: #ffffff; border-radius: 15px; padding: 5vw; flex; align-items: flex-start;">
        <div class="content" style="width:30vw">
            <h2 style="font-family: 'Inter';font-size:3.6vw; font-weight: bold; margin-bottom: 1vw">Kontaktirajte nas</h2>
            <p style ="font-family: 'Inter';font-size:1.5vw; ">Telefon: +(387)33 942 528</p>
            <p style="font-family: 'Inter';font-size:1.5vw;">Email: info@modernhome.ba</p>
            <p style="font-family: 'Inter';font-size:1.5vw;">Adresa: Aleja poštenih 32, Sarajevo</p>
        </div>
        <img src="~/images/contact.jpg" alt="Contact" class="img-fluid rounded" style="width:45 vw; height:auto">
    </section>


</div>


    

<style>

    body {
        background-color: #C4A693;
    }

    .container {
        margin-top: 2%;
    }

    .products-section, .about-us-section, .contact-section {
        padding: 5% 0;
        background-color: #C4A693;
        display: flex;
        align-items: center;
        position: relative;
    }

        .products-section .content,
        .contact-section .content {
            position: absolute;
            left: 5%;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
            color: #000;
            width: 40%;
        }

        .about-us-section .content {
            position: absolute;
            right: 5%;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
            color: #000;
            width: 40%;
            text-align: justify;
        }

    .img-fluid {
        max-width: 55%; 
        height: auto;
        border-radius: 15px;
        margin-left: 45%; 
        position: relative;
        z-index: 1;
    }

    .about-us-section .img-fluid {
        margin-left: 0;
        margin-right: 45%;
    }
</style>
