@{
    ViewData["Title"] = "Privacy Policy";
}

<head>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <p style="font-weight:bold; font-size:6vw; font-family: 'Inter'; color: #333333; text-align:center;margin-top:auto.5vw"> Politika privatnosti</p>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin-bottom: 2vw;
            padding: 0;
            background-color: #C4A693;
            color: #333;

        }

        header {
            background-color: #C4A693;
            color: #fff;
            text-align: center;
        }

        section {
            padding: 20px;
            margin: 2vw auto;
            max-width: 95vw;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            font-size: 5vw;
        }

        h2 {
            font-size: 3vw;
            margin-top: 2vw;
            font-weight: bold;
        }

        p {
            font-size: 1.5vw;
            margin-bottom: 15px;
        }

        ul {
            margin-bottom: 15px;
        }

        li {
                margin-bottom: 5px;
        }

        .hide-footer footer {
           display: none; 
        }
    </style>
</head>
<body class="hide-footer">
    <section>
        <p>Hvala vam što posjećujete našu web stranicu. Vaša privatnost nam je važna, te smo posvećeni zaštiti vaših osobnih podataka. Molimo vas da pažljivo pročitate našu Politiku privatnosti kako biste razumjeli kako prikupljamo, koristimo, otkrivamo i štitimo vaše osobne podatke.</p>

        <h2>Koje informacije prikupljamo</h2>
        <ul>
            <li>Osobne podatke koje nam direktno pružite, kao što su ime, adresa e-pošte, adresa za dostavu, broj telefona i druge informacije koje odaberete podijeliti s nama prilikom izrade računa ili kupovine proizvoda.</li>
            <li>Podatke o vašim transakcijama s nama, uključujući podatke o proizvodima koje ste kupili.</li>
            <li>Tehničke informacije, uključujući IP adresu, tip preglednika, jezik preglednika, vrijeme pristupa i adrese web stranica s kojih dolazite.</li>
        </ul>

        <h2>Kako koristimo vaše informacije</h2>
        <p>Vaše osobne podatke koristimo kako bismo:</p>
        <ul>
            <li>Omogućili vam pristup našoj web stranici i pružili vam usluge koje ste zatražili.</li>
            <li>Procesuirali vaše narudžbe i osigurali njihovu dostavu.</li>
            <li>Komunicirali s vama o narudžbama, proizvodima, promocijama i marketinškim aktivnostima.</li>
            <li>Personalizirali vaše iskustvo na našoj web stranici i prilagodili sadržaj i ponude koje vam nudimo.</li>
            <li>Analizirali podatke kako bismo poboljšali naše usluge, proizvode i marketinške strategije.</li>
        </ul>

        <h2>Otkrivanje vaših informacija</h2>
        <p>Vaše osobne podatke nećemo dijeliti, prodavati, iznajmljivati ili distribuirati trećim stranama bez vašeg pristanka, osim u sljedećim situacijama:</p>
        <ul>
            <li>Kada je to potrebno za procesuiranje vaših narudžbi i dostavu proizvoda.</li>
            <li>Kada je to potrebno za pružanje usluga ili podrške koje ste zatražili.</li>
            <li>Kada je to zakonom propisano ili kada smatramo da je to potrebno radi zaštite naših prava, imovine ili sigurnosti.</li>
        </ul>

        <h2>Sigurnost vaših informacija</h2>
        <p>Poduzimamo odgovarajuće tehničke i organizacijske mjere kako bismo zaštitili vaše osobne podatke od neovlaštenog pristupa, gubitka ili uništenja.</p>

        <h2>Vaša prava</h2>
        <p>Imate pravo zatražiti pristup, ispravak, brisanje ili ograničenje obrade vaših osobnih podataka. Također imate pravo prigovora na obradu vaših podataka, kao i pravo na prenosivost podataka.</p>

        <h2>Kolačići (Cookies)</h2>
        <p>Naša web stranica može koristiti kolačiće kako bi poboljšala vaše iskustvo pregledavanja. Možete konfigurirati postavke kolačića u svom pregledniku kako biste odbili kolačiće ili primili obavijest kada se kolačići šalju na vaš uređaj.</p>

        <h2>Promjene</h2>
        <p>Ova Politika privatnosti može se povremeno mijenjati. Ažurirane verzije bit će objavljene na našoj web stranici.</p>

        <p style="text-align: center; margin-top: 30px; font-size:1.2vw">Za više informacija ili pitanja, kontaktirajte nas putem info@modernhome.ba.</p>

    </section>
</body>
